@import "~bootstrap/scss/bootstrap.scss";


.container{
    margin-top: 80px;
	width:360px;
	// margin: 100px auto;
}   

h1{
	background: #2980b9;
	color: #ffffff;
	margin: 0;
	font-weight: bold;
    border-radius: 5px 5px 0 0; 
}
.footer{
    background: #4da1d8;
	color: #ffffff;
	margin: 0;
	font-weight: bold;
    border-radius: 0 0 5px 5px;

}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
    list-style-type: none;
}

li{
	background: #ffffff;
	height: 40px;
	line-height: 40px;
	color: #666;
}
li:nth-child(2n){
	background: #f7f7f7;
}
input{
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border-width:0px;
	border:none;
}
.remove{
    background: none;
    border: none;
}